<ion-view title = "{{activeChannel.ChannelName.content}}" ng-click="scrollToTop()"> 
 <ion-nav-bar class="bar-balanced">
	 <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
		</ion-nav-buttons>
		<ion-nav-buttons side ="right">
		 <button class="button button-icon button-clear ion-link" ng-class="{'ion-ios-gear': !Clicked}" ng-click = "showActionSheet();!Clicked" ng-show = "checkLocalStorageToken()">
        </button>
     </ion-nav-buttons>
	 </ion-nav-bar>
  <ion-content class="has-footer">
   <ion-refresher  pulling-text="Pull to refresh"
	refreshing-icon="ion-loop"
    pulling-icon="ion-arrow-down-c"
	refreshing-text="Loading..."
	on-refresh="doRefresh()">
      </ion-refresher>
    <ion-list>
	<div ng-repeat="serie in epgs.ChannelList.Series">
     <ion-item ng-repeat= "Channel in serie.Service" ng-if = "activeChannel.ChannelName.content == Channel.ChannelName.content">
	  {{Channel.ChannelName.content}}<br>
	  {{Channel.ChannelID}}<br>
	  <button button class="ion-record"></button>
	  <button button class="ion-ios-star-outline" ng-class="{'ion-ios-star': liked, 'ion-ios-star-outline': !liked}" ng-click="liked=!liked;"></button> 
      <button button class="ion-alert-circled"></button>
	  <button button class="ion-ios-unlocked-outline" ng-class="{'ion-ios-locked': locked, 'ion-ios-unlocked-outline': !locked}" ng-click="locked=!locked;"></button><br>
	  {{Channel.ChannelDescription.content }}<br>
    </div>
	</div>
	  </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
