<ion-view title = "{{activeVOD.T}}"> 
 <ion-nav-bar class="bar-balanced">
	 <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
		</ion-nav-buttons>
		<ion-nav-buttons side ="right">
		 <button class="button button-icon button-clear ion-link" ng-click = "OpenSocket()" ng-show = "TokenArr.length > 1">
        </button>
     </ion-nav-buttons>
	 </ion-nav-bar>
  <ion-content>
  Search: <input ng-model="T">
    <ion-list>
      <div ng-repeat = "VOD in vods.c">
      <div ng-repeat = "List in VOD.c">
      <ion-item ng-repeat= "Songs in List.c | filter:T" ng-if = "activeVOD.T == VOD.T">
	  {{Songs.T }}<br>
	  {{Songs.Tc}}<br>
	  {{Songs.id}}<br>
	  <button button class="ion-play"></button>
	  <button button class="ion-pause"></button>
	  <button button class="ion-stop"></button>
	  <br>
	  <div class="padding text-left" ng-controller="RatingsArrCtrl">
        <h3>Rate the VOD</h3>
        <div>
          <a href="javascript:" ng-repeat="r in ratingArr" class="padding" style="text-decoration:none;">
            <i class="icon {{r.icon}}" ng-click="setRating(r.value)"></i>
          </a>
        </div>
      </div><br>
	  </ion-item>
	  </div>
	  </div>
    </ion-list>  
  </ion-content>
</ion-view>