<ion-view title = "Socket"> 
 <ion-nav-bar class="bar-balanced">
	 <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
		</ion-nav-buttons>
		<ion-nav-buttons side ="right">
		 <button class="button button-icon button-clear ion-link" ng-click = "OpenSocket();selectTabWithIndex(3)" ng-show = "checkLocalStorageToken()">
        </button>
     </ion-nav-buttons>
	 </ion-nav-bar>
  <ion-content>
  
  <label for="TokenSelect" ng-show = "checkLocalStorageToken()"> Select Token</label><br>
   <select name="TokenSelect" id="TokenSelect" ng-model="data.TokenSelect" ng-show = "checkLocalStorageToken()">
      <option ng-repeat="Tokens in GetTokenArr" value="{{Tokens}}">{{Tokens}}</option>
    </select><br>
  </ion-content>
