<ion-view title = "Socket" ng-click="scrollToTop()"> 
 <ion-nav-bar class="bar-balanced">
	 <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
		</ion-nav-buttons>
		<ion-nav-buttons side ="right">
		 <button class="button button-icon button-clear ion-link" ng-click = "showActionSheet()" ng-show = "checkLocalStorageToken()">
        </button>
     </ion-nav-buttons>
	 </ion-nav-bar>
  <ion-content class="has-footer">
    <ion-refresher  pulling-text="Pull to refresh"
	refreshing-icon="ion-loop"
    pulling-icon="ion-arrow-down-c"
	refreshing-text="Loading..."
	on-refresh="doRefresh()">
      </ion-refresher>
	  
	<ion-list show-delete="ShowDeleteButton" show-reorder = "ShowReOrderButton" > 

	<!-- <div ng-repeat = "ObjectDataArr in ObjectData"> -->
  <ion-item ng-repeat="ObjectArr in Connections track by $index"  ng-if ="ObjectArr.stb_id == ObjectDataArr.cid" ng-show = "CheckAlive()">
    <h2>{{ObjectArr.stb}}</h2>
	<div class="item-checkbox">
	 <label class="checkbox">
        <input type="checkbox" ng-click="clickItem(item);OpenSocket(ObjectArr.token)"  ng-model="item.checked">
     </label>
	 </div>
	 <ion-delete-button class="ion-minus-circled" ng-click = "Delete($index)"></ion-delete-button>
	<ion-reorder-button class="ion-navicon"
                        on-reorder="moveItem(ObjectArr, $fromIndex, $toIndex)">
    </ion-reorder-button>
  </ion-item>
 <!--  </div> -->
</ion-list>


  </ion-content>
