<ion-side-menus>
 <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
	 <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
     </ion-nav-buttons>
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Karaoke</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
	  	   Search: <input ng-model="T">
         <ion-item ng-repeat= "VOD in vods.c | filter:T " ng-click = "showLoading();selectVOD(VOD,$index)"  ng-class="{active: activeVOD == vods}" href="#/VOD/VODsList">
		{{VOD.T}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>