<ion-view title = "{{activeWord.NumOfWord}}" ng-click="scrollToTop()"> 
	<ion-nav-bar class="bar-balanced">
	<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
	</ion-nav-buttons>
	<ion-nav-back-button class="button-clear"
		ng-click="previousPage()">
		<i class="ion-arrow-left-c"></i> Back
	</ion-nav-back-button>
		<ion-nav-buttons side ="right">
		<button class="button button-icon button-clear ion-link" ng-click = "showActionSheet()"  ng-show = "checkLocalStorageToken()">
        </button>
     </ion-nav-buttons>
	</ion-nav-bar>
  <ion-content class="has-footer">
   <ion-refresher pulling-text="Pull to refresh"
	refreshing-icon="ion-loop"
    pulling-icon="ion-arrow-down-c"
	refreshing-text="Loading..."
	on-refresh="doRefresh()">
      </ion-refresher>

<!-- 
      <div ng-repeat = "VOD in vods.c">
      <div ng-repeat = "List in VOD.c"> -->
	  
	  <ion-slide-box>
      <ion-slide ng-repeat= "Songs in testArr" ng-if = "Songs.title.split(' ').length == activeWord.Num "> 
		<div class="col">
		<h2><strong>{{Songs.title}}</strong></h2><br>
	  <button button class="ion-play"></button>
	  <button button class="ion-pause"></button>
	  <button button class="ion-stop"></button>	  
		</div>
	<br>
	 <div class="container" ng-controller="RatingsController">
	 <h2> Rate The Song </h2><br>
            <div star-rating rating="starRating" click="click(param)"></div>
        </div>
 
		</ion-slide>	  
	  </ion-slide-box>
	
  </ion-content>
</ion-view>