<ion-view title = "{{activeVOD.T}}" ng-click="scrollToTop()"> 
 <ion-nav-bar class="bar-balanced">
	 <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
		</ion-nav-buttons>
		<ion-nav-buttons side ="right">
		 <button class="button button-icon button-clear ion-link" ng-click = "showActionSheet();!Clicked" ng-disabled = "checkLocalStorageToken()">
        </button>
     </ion-nav-buttons>
	 </ion-nav-bar>
  <ion-content class="has-footer">
   <ion-refresher pulling-text="Pull to refresh"
	refreshing-icon="ion-loop"
    pulling-icon="ion-arrow-down-c"
	refreshing-text="Loading..."
	on-refresh="doRefresh()">
      </ion-refresher>
      <div ng-repeat = "VOD in vods.c">
	  <ion-list>
      <ion-item ng-repeat= "letter in VOD.c" ng-if = "activeVOD.T == VOD.T" ng-click="activate_Letter(letter, $index);GoToVODArtistPage()" ng-class="{active: activeLetter == letter}" >
		<div class="col">
		<div>{{letter.T }}</div>
	
		</ion-item>	  
	  </ion-list>
	  </div>
	  </div>
  </ion-content>
</ion-view>