<ion-view title = "{{activeArtist.T}}" ng-click="scrollToTop()"> 
	<ion-nav-bar class="bar-balanced">
	<ion-nav-buttons side="left">
		</ion-nav-buttons>
	<ion-nav-back-button class="button-clear"
		ng-click="previousPage()">
		<i class="ion-arrow-left-c"></i> Back
	</ion-nav-back-button>
       
	<ion-nav-buttons side ="right">
		<button class="button button-icon button-clear ion-link" ng-click = "showActionSheet()"  ng-show = "checkLocalStorageToken()">
        </button>
     </ion-nav-buttons>
	</ion-nav-bar>
  <ion-content class="has-footer">
   <ion-refresher pulling-text="Pull to refresh"
	refreshing-icon="ion-loop"
    pulling-icon="ion-arrow-down-c"
	refreshing-text="Loading..."
	on-refresh="doRefresh()">
      </ion-refresher>
  Search: <input ng-model="T"> 
	  <ion-list>
      <ion-item ng-repeat= "NumberOfWords in wordArr | filter:T"  ng-click = "active_Word(NumberOfWords, $index)" ng-class="{active: activeWord == NumberOfWords}" ui-sref = "VOD.VODSlide">
		<div class="col">
		<div>{{NumberOfWords.NumOfWord}}</div>
	
		</ion-item>	  
	  </ion-list>
	  </div>
	  </div>
  </ion-content>
</ion-view>